<div class="container">
  <div class="text-center">
    <h2>Artists</h2>
    <%= link_to (@sort == "asc" ? "Sort Z-A" : "Sort A-Z"),
    artists_path(:sort => @sort == "asc" ? "desc" : "asc"), class: "dark-text" %>
  </div>
  <br />

  <ul class="col-md-10 col-md-offset-1 list-group artist-list">
  <% @artists.each do |artist| %>
     <li class="list-group-item justify-content-between">
      <%= image_tag(artist.image, class: "img-rounded img-responsive") %>
      <div class="row v-center">
        <div class="col-xs-6 artist-name">
          <%= link_to artist.name, artist_path(artist.id), class: "artist_link"%>
        </div>
        <div class="col-xs-6 ">
          <span class="badge badge-default badge-pill col-md-6 pull-right">
            <%= artist.songs.count %>
            <% if artist.songs.count == 1 %>
            <%= "song" %>
            <% else %>
            <%= "songs" %>
            <% end %>
          </span>
        </div>
      </div>
    </li>
  <% end %>
</div>
