<div class="container">
  <div class="text-center">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 list-group artist-list">
        <%= image_tag(@artist.image, class: "img-rounded img-responsive") %>
      </div>
    </div>
    <div>
      <h2><%= @artist.name %></h2>
      <h4><%= @artist.artist_type %></h4>
      <button class="btn btn-xs btn-grey">
        <%= link_to "Delete artist", artist_path, class: "dark-text", method: :delete, data: { confirm: "Are you sure?" } %>
      </button> •
      <button class="btn btn-xs btn-grey">
        <%= link_to "Delete all songs", "", class: "dark-text", id: "delete-all-songs" %>
      </button>
    </div>
  </div>

  <div class="row">
    <p class="light-text"> Songs by <%= @artist.artist_type == "Band" ? "the #{@artist.name}" : @artist.name %>: </p>
      <ul class="list-group" id="song-list">
        <% @songs.each do |song| %>
          <%= render "songs/song_li", :song => song %>
        <% end %>
      </ul>
  </div>

  <%= render "songs/form", :artist => @artist %>

</div>
