<div class="container">
  <h2 class="text-center"><%= @artist.name %></h2>
  <h4 class="text-center"><%= @artist.artist_type %></h4>
  <br />


  <div class="row">
    <p class="light-text"> List of songs: </p>
      <ul class="list-group">
        <% @artist.songs.each do |song| %>
          <li class="list-group-item">
            <%= song.title %> - <%= song.year %>
            <span class="pull-right">
              <button class="btn btn-xs btn-grey">
                <%= link_to "", artist_song_path(@artist, song), class: "glyphicon glyphicon-trash", method: :delete, data: { confirm: "Are you sure?" } %>
              </button>
            </span>
          </li>
        <% end %>
      </ul>
  </div>

  <div>
    <button class="btn btn-xs btn-grey">
      <%= link_to "Add song", new_artist_song_path(@artist), class: "light-text" %>
    </button>
    <button class="btn btn-xs btn-grey">
      <%= link_to "Delete Artist", artist_path, class: "light-text", method: :delete, data: { confirm: "Are you sure?" } %>
    </button>
  </div
</div>
