<div class="container">
  <div class="text-center">
    <h2><%= @artist.name %></h2>
    <h4><%= @artist.artist_type %></h4>
    <button class="btn btn-xs btn-grey">
      <%= link_to "Delete Artist", artist_path, class: "dark-text", method: :delete, data: { confirm: "Are you sure?" } %>
    </button>
  </div>

  <div class="row">
    <p class="light-text"> List of songs: </p>
      <ul class="list-group">
        <% @artist.songs.each do |song| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-1">
                <%= song.year %>
              </div>
              <div class="col-xs-10">
                <%= song.title %>
              </div>
              <div class="col-xs-1">
                <button class="btn btn-xs btn-grey pull-right">
                  <%= link_to "", song_path(song), class: "glyphicon glyphicon-remove", method: :delete, data: { confirm: "Are you sure?" } %>
                </button>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
  </div>

  <%= render "songs/form", :artist => @artist %>


</div>
